<app-header></app-header>

<!-- Main page container -->
<section class="container" role="main">

    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="col-sm-9">
            <div class="dark data-block">
                <header>
                    <h2><span class="elusive icon-calendar"></span> {{title}}</h2>
                    <ul class="data-header-actions">
                        <li class="demoTabs" [ngClass]="{'active': title === 'Appointments'}"><a
                                (click)="onShowAppointments()" class="btn btn-alt">Appointments</a></li>
                        <li class="demoTabs" [ngClass]="{'active': title === 'Appointment form'}"><a
                                (click)="onAppointmentForm()" class="btn btn-alt">Appointment form</a></li>
                    </ul>
                </header>

                <section class="tab-content">

                    <router-outlet></router-outlet>

                </section>
            </div>
        </article>
        <!-- /Data block -->

    </div>
    <!-- /Grid row -->
</section>