<div class="alert alert-{{alertType}} alert-dismissable fade in" *ngIf="showAlert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="onCloseAlert()"
        title="Close alert">&times;</button>
    <strong>{{alertMessage}}</strong>
</div>

<div class="tab-pane" id="horizontal">
    <form class="form-horizontal" (ngSubmit)="onAppoint()" [formGroup]="appointmentForm">

        <div class="form-group">
            <label for="countryCode" class="col-sm-2 control-label">Country code</label>
            <div class="col-sm-6">
                <select id="countryCode" class="form-control" formControlName="country_code">
                    <option *ngFor="let code of countryCodes" [disabled]="code === 'Select Country Code'"
                        value="{{code}}">{{code}}</option>
                </select>
            </div>

            <span *ngIf="!appointmentForm.get('country_code').valid && appointmentForm.get('country_code').touched">
                <span class="help-block" *ngIf="appointmentForm.get('country_code').errors['required']">
                    This field is required
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="mobileNum" class="col-sm-2 control-label">Client phone number</label>
            <div class="col-sm-6">
                <input type="number" id="mobileNum" (keyup)="checkExistingUser()" placeholder="Enter Your Mobile Number"
                    class="form-control" formControlName="mobile_num">
            </div>

            <span *ngIf="!appointmentForm.get('mobile_num').valid && appointmentForm.get('mobile_num').touched">
                <span class="help-block" *ngIf="appointmentForm.get('mobile_num').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="appointmentForm.get('mobile_num').errors['10DigitsOnly']">
                    Phone number must contain 10 digits only
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="alternateNum" class="col-sm-2 control-label">Client alternate phone number</label>
            <div class="col-sm-6">
                <input type="number" id="alternateNum" placeholder="Enter An Alternate Mobile Number"
                    class="form-control" formControlName="alternate_mobile_num">
            </div>

            <span
                *ngIf="!appointmentForm.get('alternate_mobile_num').valid && appointmentForm.get('alternate_mobile_num').touched">
                <span class="help-block" *ngIf="appointmentForm.get('alternate_mobile_num').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="appointmentForm.get('alternate_mobile_num').errors['10DigitsOnly']">
                    Phone number must contain 10 digits only
                </span>

                <span class="help-block" *ngIf="appointmentForm.get('alternate_mobile_num').errors['numsCannotBeSame']">
                    Mobile number and alternate mobile number cannot be same
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Client name</label>
            <div class="col-sm-6">
                <input type="text" id="name" placeholder="Enter Client's Name" class="form-control"
                    formControlName="name">
            </div>

            <span *ngIf="!appointmentForm.get('name').valid && appointmentForm.get('name').touched">
                <span class="help-block" *ngIf="appointmentForm.get('name').errors['required']">
                    This field is required
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Client email</label>
            <div class="col-sm-6">
                <input type="email" id="email" placeholder="Enter Client's Email" class="form-control"
                    formControlName="email">
            </div>

            <span *ngIf="!appointmentForm.get('email').valid && appointmentForm.get('email').touched">
                <span class="help-block" *ngIf="appointmentForm.get('email').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="appointmentForm.get('email').errors['email']">
                    Please provide a valid email address
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="clientType" class="col-sm-2 control-label">Client type</label>
            <div class="col-sm-6">
                <select id="clientType" class="form-control" formControlName="client_type">
                    <option *ngFor="let type of clientTypes" value="{{type}}">{{type}}</option>
                </select>
            </div>

            <span *ngIf="!appointmentForm.get('client_type').valid && appointmentForm.get('client_type').touched">
                <span class="help-block" *ngIf="appointmentForm.get('client_type').errors['required']">
                    This field is required
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="appointmentFor" class="col-sm-2 control-label">Appointment for</label>
            <div class="col-sm-6">
                <select id="appointmentFor" class="form-control" formControlName="appointment_for">
                    <option *ngFor="let type of appointFor" [disabled]="type === 'Select Appointment Type'"
                        value="{{type}}">
                        {{type}}</option>
                </select>
            </div>

            <span
                *ngIf="!appointmentForm.get('appointment_for').valid && appointmentForm.get('appointment_for').touched">
                <span class="help-block" *ngIf="appointmentForm.get('appointment_for').errors['required']">
                    This field is required
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="package" class="col-sm-2 control-label">Package</label>
            <div class="col-sm-6">
                <select class="form-control" formControlName="package_name" id="package">
                    <option *ngFor="let package of packages" [disabled]="package === 'Select Package'"
                        value="{{package}}">{{package}}</option>
                </select>
            </div>

            <span *ngIf="!appointmentForm.get('package_name').valid && appointmentForm.get('package_name').touched">
                <span class="help-block" *ngIf="appointmentForm.get('package_name').errors['required']">
                    This field is required
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="date_of_appointment" class="col-sm-2 control-label">Date and time of appointment</label>
            <div class="col-sm-6">
                <input type="datetime-local" formControlName="date_of_appointment" class="form-control"
                    id="date_of_appointment">
            </div>

            <span
                *ngIf="!appointmentForm.get('date_of_appointment').valid && appointmentForm.get('date_of_appointment').touched">
                <span class="help-block" *ngIf="appointmentForm.get('date_of_appointment').errors['required']">
                    This field is required
                </span>
            </span>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-primary"
                    [disabled]="!appointmentForm.valid && !editMode">{{editMode ? 'Update':'Appoint'}}</button>
            </div>
        </div>

    </form>
</div>