<div class="alert alert-{{alertType}} alert-dismissable fade in" *ngIf="showAlert" style="margin: 0.5em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="onCloseAlert()"
        title="Close alert">&times;</button>
    <strong>{{alertMessage}}</strong>
</div>

<div class="tab-pane">
    <form class="row" [formGroup]="searchForm" style="margin: 0 auto; padding: 0.5em;">


        <div class="col-sm-2 col-xs-6">
            <input type="text" class="form-control" (keyup)="searchFilter()" formControlName="id" placeholder="User ID">
        </div>



        <div class="col-sm-2 col-xs-6">
            <select class="form-control" formControlName="appointmentFor" (change)="searchFilter()">
                <option *ngFor="let type of appointFor" value="{{type}}">
                    {{type}}</option>
            </select>
        </div>

        <div class="col-sm-2 col-xs-6">
            <input type="text" class="form-control" formControlName="name" (keyup)="searchFilter()" placeholder="Name">
        </div>

        <div class="col-sm-2 col-xs-6">
            <input type="date" class="form-control" (change)="searchFilter()" formControlName="from">
        </div>

        <div class="col-sm-2 col-xs-6">
            <input type="date" class="form-control" (change)="searchFilter()" formControlName="to">
        </div>


    </form>
</div>


<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Sr.no</th>
                <th>Appointment Type</th>
                <th>Name</th>
                <th>Time</th>
                <th>Actions</th>
                <th>Add Client</th>
            </tr>
        </thead>
        <tbody *ngIf="noFilter">
            <tr
                *ngFor="let appointment of appointments | paginate: {itemsPerPage: itemsPerPage, currentPage: pageNum}; let i = index;">
                <td>{{i+1}}</td>
                <td>{{appointment.appointment_for}}</td>
                <td>{{appointment.name}}</td>
                <td>{{appointment.date_of_appointment | date:'medium'}}</td>
                <td>
                    <span>
                        <button class="btn btn-success" style="margin: 0.5em;"
                            (click)="onEdit(appointment)">Edit</button>
                        <button (click)="onDelete(appointment)" class="btn btn-danger">Delete</button>
                    </span>
                </td>
                <td>
                    <button *ngIf="appointment.user_id === appointment.added_user_id" (click)="onAddClient(appointment)" class="btn btn-info">+</button>
                    <p *ngIf="appointment.user_id !== appointment.added_user_id" class="help-block">Client already added</p>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!noFilter">
            <tr
                *ngFor="let appointment of filteredAppointments | paginate: {itemsPerPage: itemsPerPage, currentPage: pageNum}; let i = index;">
                <td>{{i+1}}</td>
                <td>{{appointment.appointment_for}}</td>
                <td>{{appointment.name}}</td>
                <td>{{appointment.date_of_appointment | date:'medium'}}</td>
                <td>
                    <span>
                        <button class="btn btn-success" style="margin: 0.5em;"
                            (click)="onEdit(appointment)">Edit</button>
                        <button (click)="onDelete(appointment)" class="btn btn-danger">Delete</button>
                    </span>
                </td>
                <td>
                    <button *ngIf="appointment.user_id === appointment.added_user_id" (click)="onAddClient(appointment)" class="btn btn-info">+</button>
                    <p *ngIf="appointment.user_id !== appointment.added_user_id" class="help-block">Client already added</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>