input.ng-invalid.ng-touched {
    border: 1px solid #c0392b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #df7c72;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #df7c72;
}

select.ng-invalid.ng-touched {
    border: 1px solid #c0392b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #df7c72;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #df7c72;
}