<div class="alert alert-{{alertType}} alert-dismissable fade in" *ngIf="showAlert" style="margin: 0.5em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="onCloseAlert()"
        title="Close alert">&times;</button>
    <strong>{{alertMessage}}</strong>
</div>

<div class="tab-pane" id="horizontal">
    <form class="form-horizontal" (ngSubmit)="onAddClient()" [formGroup]="addClientForm">

        <div class="form-group">
            <label for="mobile_num" class="col-sm-2 control-label">Phone number</label>
            <div class="col-sm-6">
                <input type="number" id="mobile_num" formControlName="mobile_num"  placeholder="Enter client's phone number"
                    class="form-control">
            </div>

            <span *ngIf="!addClientForm.get('mobile_num').valid && addClientForm.get('mobile_num').touched">
                <span class="help-block" *ngIf="addClientForm.get('mobile_num').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="addClientForm.get('mobile_num').errors['10DigitsOnly']">
                    Mobile must contain 10 digits only
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="alternateNum" class="col-sm-2 control-label">Alternate mobile number</label>
            <div class="col-sm-6">
                <input type="number" id="alternateNum" formControlName="alternate_mobile_num"  placeholder="Enter client's alternate mobile number"
                    class="form-control">
            </div>

            <span *ngIf="!addClientForm.get('alternate_mobile_num').valid && addClientForm.get('alternate_mobile_num').touched">
                <span class="help-block" *ngIf="addClientForm.get('alternate_mobile_num').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="addClientForm.get('alternate_mobile_num').errors['10DigitsOnly']">
                    Mobile must contain 10 digits only
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Client's Name</label>
            <div class="col-sm-6">
                <input type="text" id="name" formControlName="name" placeholder="Enter client's name"
                    class="form-control">
            </div>

            <span *ngIf="!addClientForm.get('name').valid && addClientForm.get('name').touched">
                <span class="help-block" *ngIf="addClientForm.get('name').errors['required']">
                    This field is required
                </span>
            </span>

        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Client's email</label>
            <div class="col-sm-6">
                <input type="email" id="email" formControlName="email" placeholder="Enter client's email"
                    class="form-control">
            </div>

            <span *ngIf="!addClientForm.get('email').valid && addClientForm.get('email').touched">
                <span class="help-block" *ngIf="addClientForm.get('email').errors['required']">
                    This field is required
                </span>

                <span class="help-block" *ngIf="addClientForm.get('email').errors['email']">
                    Please provide a valid email
                </span>
            </span>
        </div>

        <div class="form-group">
            <label for="package" class="col-sm-2 control-label">Package</label>
            <div class="col-sm-6">
                <select  id="package" class="form-control" formControlName="package_name">
                    <option *ngFor="let package of packages" value="{{package}}">{{package}}</option>
                </select>
            </div>

            <span *ngIf="!addClientForm.get('package_name').valid && addClientForm.get('package_name').touched">
                <span class="help-block" *ngIf="addClientForm.get('package_name').errors['required']">
                    This field is required
                </span>
            </span>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" [disabled]="!addClientForm.valid" class="btn btn-lg btn-primary">Add</button>
            </div>
        </div>

    </form>
</div>